<p>{{'Public Works!' | tildes : 1}}</p>
<p>{{'Public Works!' | tildes : 2}}</p>
<p>{{'Public Works!' | tildes}}</p>
<app-box-login [onTitle]="valueTitle" (onClick)="recibirData($event)"></app-box-login>
<app-two-box-login [onTitle]="!valueTitle"></app-two-box-login>

<div appBackgroundColor>
    <p>Usando la directiva</p>
</div>


<input type="number" [(ngModel)]="filter">
<div *ngFor="let value of arregloNumeros | appfilter: filter">
    <p>Hola el valor es: {{value}}</p>
</div>


<input type="text" appRut [(ngModel)]="rutInsert">
<p>{{rutInsert | rut}}</p>


<button (click)="irPrivate()">Ir al sitio privado</button>